{
    "tabWidth": 2,
    "useTabs": true,
    "printWidth": 80,
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "parser": "typescript",
    "arrowParens": "always",
    "requirePragma": true,
    "insertPragma": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ".*rc",
            "options": {
                "singleQuote": false,
                "parser": "json"
            }
        }
    ]
}